= simple_form_for(@<%= singular_table_name %>, class: "ui form") do |f|
  - if @<%= singular_table_name %>.errors.any?
    #error_explanation
      h2 <%%= pluralize(@<%= singular_table_name %>.errors.count, "error") %> prohibited this <%= singular_table_name %> from being saved:</h2>
      ul
        - <%= singular_table_name %>.errors.full_messages.each do |message|
          li = message

  <%- attributes.each do |attribute| -%>
    = f.<%= attribute.reference? ? :association : :input %> :<%= attribute.name %>
  <%- end -%>

  .actions
    = f.button :submit, class: 'ui button'
